
html,
body {margin: 0;width: 100%;overflow: auto;margin:0 auto;}
h1{
    text-align: center;
    margin: 0 0 40px 0px;
}
#cgz6{
    width: 1000px;
    margin: 0 auto;
}

table{
    margin: 0 auto;
    background-color: white;
}
.firstTr{
    height: 30px;
    background-color: #409EFF;
    color: white;
}
.tdFont{
    height: 30px;
    font-weight: bold;
    width: 96px;
}
.tdFont1{
    font-weight: bold;
    width: 90px;
}
td span{
    float: right;
}
.secondTr{
    background-color: #8cc5ff;
}
.gumposition{
    width: 200px;
    height: 230px;
    border: #929292 solid 1px;

}
.gumposition .el-input-group__append,.gumposition .el-input__inner{
    background-color: #4472c4;
    color:white;
}
.main{
    margin: 0 auto;
    border: 2px solid rgb(204, 204, 204);
}
.FuelAerobics{
 position: relative;
}
.FuelAerobicsFont{
    position: absolute;
    top: 40px;left: 50px;
}
.gum{
    font-size: 18px;
    width: 80%;
    margin:20px 20px;
}
.changeTime{
    top:350px;
}
#times{
    color: #ff4d51;
    font-size: 24px;
}
.charts{
    position: relative;
    margin-left: 200px;
}
.wendu{
    color:#da70d6;
    font-size: 12px;
    transform: rotate(-15deg);
    position: absolute;
    top: 130px;left: 250px;
}
.Pa{
    color:#32cd32;
    font-size: 12px;
    transform: rotate(-15deg);
    position: absolute;
    top: 180px;left: 250px;
}
#portal{
    margin: 0 auto;
}
#portal,.gasWaterComboImg{
    position: relative;
}
.hotblack{
    background-color: black;
}
.hotred{
    background-color: #ff0000;
}
.hotpic{
    position: absolute;
}
.systems,.doubleImg,.assemblyImg,.hotpartImg,.inletValveImg
,.blueBtnImg,.FuelAerobicIMG,.feedwater{
    position: absolute;
}
.systems:hover,.doubleImg:hover
,.assemblyImg:hover,.feedwater:hover,.hotpartImg:hover
,.inletValveImg:hover,.blueBtnImg:hover,.FuelAerobicIMG:hover
,.divBtn:hover,.hot1:hover{
    cursor:pointer;
}
.dialogTitles{
    font-size: 16px;
    border-bottom: #6f7180 1px solid;
    color: #e87822;
}
.systemBtn{
    width: 400px;
    height: 73px;
    text-align: center;
    margin: 20px auto ;
}
.divBtn{
    margin: 0 10px;
    float: left;
}
#hotyou{
    position: absolute;
    top:160px;
}
.hot1{
    float: left;
    margin:0 8px;
}
.btn,.hotOpen{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: #ff0000;
}
 .ons,.openColor,.closeColor{
    background: #00ff00;
}
 /*
 阀门调节
  */
.decrease,.rease{
    width: 24px;
    height: 24px;
    cursor:pointer;
    background-color: black;
    line-height: 24px;
    color: white;
    border: none;
}
.colortitle{
    color:#e77923 ;
}
#decreaseNumber,#temperatureNumber
,#FeedwaterNumbe,#SongfenNumber,#YfanpartNumbe
,#WallTemperatureNumber{
    position: relative;
    height: 24px;
    background-color: #00fa00;

}
#decreasebg,#temperaturebg,#Sfanpartbg,#Yfanpartbg
,#Songfenbg,#Feedwaterbg,#WallTemperaturebg {
    display: inline-block;
    border: none;
    width: 80px;
    height: 24px;
    background-color:red;
}
.decreaseNumberfont,.temperatureNumberfont
,.YfanpartNumbefont,.SongfenNumberfont
,.FeedwaterNumbefont,.WallTemperaturefont{
    color: white;
    position: absolute;
    top: 0;left: 30px;
}
.confirms{
    width: 105px;
    height: 35px;
    margin: 0 5px;
    border: none;
    background: url('../images/examBtn.gif');
    color: #faff78;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-size: cover;
}
.confirms:hover{
    color: #faff78;
}
