<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui/index.css">
    <link rel="stylesheet" href="css/cgz6.css">
    <script src="js/echarts/echarts-all.js"></script>
</head>
<body>
    <div id="cgz6">
        <el-row>
            <!--============================================顶部============================================-->
            <div>
                <h1>锅炉冷态启动的升压操作</h1>
            </div>

        <!--============================================内容============================================-->
            <el-row class="content">
                <el-row>
                    <el-col>
                        <!--==================计时器=============-->
                        <div style="float: left; margin-top: 60px">
                            <el-row>
                                <el-col class="changeTime" v-if="changeTime">
                                    <b>曲线变化（步骤跳转）：</b><br>
                                    <b id="times">{{times}}</b>
                                </el-col>
                            </el-row>
                            <!--==================燃料同操器悬浮=============-->
                            <el-row>

                                <el-row>
                                    <el-col class="gumposition" >
                                        <el-row>
                                            <el-input class="gum"
                                                      size="mini" readonly v-model="gum">
                                                <template slot="append">kg</template>
                                            </el-input>
                                        </el-row>
                                        <el-row class="FuelAerobics">
                                            <el-col>
                                                <div v-for="FuelAerobic in FuelAerobics"
                                                >
                                                    <img :src="FuelAerobic.FuelAerobicUrl"
                                                         :key="FuelAerobic.FuelAerobicID"
                                                         :style="{'top':FuelAerobic.top,'left':FuelAerobic.left,}"
                                                         class="FuelAerobicIMG"
                                                         @click="FuelAerobicfun(FuelAerobic)"
                                                    >
                                                </div>
                                                <div class="FuelAerobicsFont">燃料同操器</div>
                                            </el-col>
                                        </el-row>
                                        <el-row id="hotyou">
                                            <div class="hot1" id="hotOpen" @click="horOpenorClose('open')">
                                                <div class="hotOpen" :class="{'openColor':openColor}"></div>
                                                <span>燃油器开启</span>
                                            </div>
                                            <div class="hot1" id="hotClose" @click="horOpenorClose('close')">
                                                <div class="hotOpen" :class="{'closeColor':closeColor}"></div>
                                                <span>燃油器关闭</span>
                                            </div>
                                        </el-row>
                                    </el-col>
                                </el-row>
                            </el-row>
                        </div>
                        <!--============================================曲线图============================================-->
                        <div class="charts">
                            <div id="curve"></div>
                            <span class="wendu">主蒸汽温度</span>
                            <span class="Pa"> 主蒸汽压力</span>
                            <b style="position: absolute;top: 250px;left:20px">(点火)</b>
                            <!--倍数-->
                            <div v-for="doubleImg in doubleNums" :key="doubleImg.doubleNumID">
                                <img :src="doubleImg.doubleNumUrl" class="doubleImg"
                                     :style="{ 'top':doubleImg.top,'left':doubleImg.left}"
                                     @click="doubleIndex(doubleImg)" v-if="doubleImg.display">
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <div class="main">
                    <!--==================================表格=============================================-->
                    <el-row >
                        <div class="navFixation">
                            <table>
                                <tr class="firstTr">
                                    <td><div class="tdFont">主蒸汽流量</div></td>
                                    <td><div class="tdFont1"><label>{{D}}</label><span>t/h</span></div></td>
                                    <td><div class="tdFont">主蒸汽压力</div></td>
                                    <td><div class="tdFont1"><label id="Pz">{{Pz}}</label><span>MPa</span></div></td>
                                    <td><div class="tdFont">主蒸汽温度</div></td>
                                    <td><div class="tdFont1"><label id="T">{{T}}</label><span>℃</span></div></td>
                                    <td><div class="tdFont">汽包水位</div></td>
                                    <td><div class="tdFont1"><label id="H">{{H}}</label><span>mm</span></div></td>
                                    <td><div class="tdFont">炉膛出口烟温</div></td>
                                    <td><div class="tdFont1"><label >{{Tu}}</label><span>℃</span></div></td>

                                </tr>
                                <tr class="secondTr">
                                    <td><div class="tdFont">炉膛负压</div></td>
                                    <td><div class="tdFont1"><label>{{P}}</label><span>Pa</span></div></td>
                                    <td><div class="tdFont">排烟温度</div></td>
                                    <td><div class="tdFont1"><label>{{Tpy}}</label><span>℃</span></div></td>
                                    <td><div class="tdFont">过剩氧量</div></td>
                                    <td><div class="tdFont1"><label>{{O2}}</label><span>%</span></div></td>
                                    <td><div class="tdFont">给水流量</div></td>
                                    <td><div class="tdFont1"><label id="G">{{G}}</label><span>t/h</span></div></td>
                                    <td><div class="tdFont">过热器壁温</div></td>
                                    <td><div class="tdFont1"><label >{{Tgb}}</label><span>℃</span></div></td>
                                </tr>
                                <tr class="firstTr">
                                    <td><div style="width: 120px">汽包壁上下温差</div></td>
                                    <td><div class="tdFont1"><label >{{QT}}</label><span>℃</span></div></td>
                                </tr>
                            </table>
                        </div>
                    </el-row>
                    <!--============================================燃烧调节系统============================================-->
                    <el-row id="portal" v-if="combusShow" style="margin: 0 100px;">
                        <el-col>
                            <img :src="combustionRegulationComboImg">
                        </el-col>
                        <div v-for="systems in Combustionregulationsystem">
                            <img :src="systems.systemUrl" class="systems"
                                 :key="systems.systemID"
                                 :style="{'top':systems.top,'left':systems.left,
                           }"
                                 @click="portalIndex(systems)">
                        </div>
                        <!--==================模态框======================-->
                        <el-dialog :visible.sync="dialogmillFan1" width="20%" center top="50vh">
                            <div slot="title" class="dialogTitles">
                                <b>{{systemTitle}}</b>
                            </div><br>
                            <!--=================#1排粉机========================-->
                            <div style="text-align: center;" v-if="Paifen1">
                                <input type="button" value="-" class="decrease" @click="changNumber(1)">
                                <div id="decreasebg">
                                    <div id="decreaseNumber" :style="{'width':paifens1,}">
                                        <b class="decreaseNumberfont">{{g1}}</b>
                                    </div>
                                </div>
                                <input type="button" value="+" class="rease" @click="changNumber(2)">
                            </div>
                            <!--=================#2排粉机========================-->
                            <div style="text-align: center;" v-if="Paifen2">
                                <input type="button" value="-" class="decrease" @click="changNumber(3)">
                                <div id="temperaturebg">
                                    <div id="temperatureNumber" :style="{'width':paifens2,}">
                                        <b class="temperatureNumberfont">{{g2}}</b>
                                    </div>
                                </div>
                                <input type="button" value="+" class="rease" @click="changNumber(4)">
                            </div>
                            <!--=================送风机机========================-->
                            <div style="text-align: center;" v-if="Songfen">
                                <input type="button" value="-" class="decrease" @click="changNumber(5)">
                                <div id="Songfenbg">
                                    <div id="SongfenNumber" :style="{'width':Sonfens,}">
                                        <b class="SongfenNumberfont">{{Af1}}</b>
                                    </div>
                                </div>
                                <input type="button" value="+" class="rease" @click="changNumber(6)">
                            </div>
                            <!--=================送风机机========================-->
                            <div style="text-align: center;" v-if="Yinfen">
                                <input type="button" value="-" class="decrease" @click="changNumber(7)">
                                <div id="Yfanpartbg">
                                    <div id="YfanpartNumbe" :style="{'width':Yinfens,}">
                                        <b class="YfanpartNumbefont">{{Af2}}</b>
                                    </div>
                                </div>
                                <input type="button" value="+" class="rease" @click="changNumber(8)">
                            </div>
                            <div slot="footer">
                                <el-button class="confirms" @click="dialogmillFan1=false">确定</el-button>
                            </div>
                        </el-dialog>
                    </el-row>
                    <!--=========================================点火装置=================================-->
                    <el-row id="hotCombos" v-if="hotComboShow" >
                        <el-col>
                            <el-col>
                                <div class="hotComboImg"
                                     v-for="hots in hotComboImg"
                                     :key="hots.hotID">
                                    <img :src="hots.hotComboImgUrl" :class="{'hotblack':hotblack,'hotred':hotred}">
                                </div>
                            </el-col>
                            <!--=========点火枪============-->
                            <div v-for="hotpartImg in hotpartImgs">
                                <img :src="hotpartImg.hotpartImgUrl" class="hotpartImg"
                                     :style="{'top':hotpartImg.top,'left':hotpartImg.left}"
                                     @click="dialogHotparts(hotpartImg)">
                            </div>
                            <!--=========点火图片============-->
                            <div v-for="hotpic in hotpic">
                                <img :src="hotpic.hotpartImgUrl" class="hotpic"
                                     :style="{'top':hotpic.top,'left':hotpic.left}"
                                     v-if="hotpic.display">
                            </div>
                            <el-dialog :visible.sync="dialogHotpart" >
                                <div slot="title" class="dialogTitles">
                                    <b>{{Hotparttitle}}</b>
                                </div>
                                <b>{{hotsRadiotitle}}</b>
                                <el-radio-group v-model="radioHotpart" v-if="radioHotpartshow">
                                    <el-radio :label="true">点火</el-radio>
                                    <el-radio :label="false">熄火</el-radio>
                                </el-radio-group>
                                <div slot="footer">
                                    <el-button class="confirms" @click="hotpartfun()">确定</el-button>
                                </div>

                            </el-dialog>
                        </el-col>
                    </el-row>

                    <!--============================================锅炉汽水系统============================================-->
                    <el-row id="gasWaters" v-if="gasWaterShow">
                        <el-col >
                            <div class="gasWaterComboImg"
                                 v-for="item in gasWaterComboImg"
                                 :key="item.gasWaterID">
                                <img :src="item.gasWaterComboImgUrl" class="gasWaterImg">


                                <!--=================部件============================-->
                                <div v-for="blueBtn in blueBtns" :key="blueBtn.blueBtnID">
                                    <img :src="blueBtn.blueBtnUrl" class="blueBtnImg"
                                         :style="{'top':blueBtn.top,'left':blueBtn.left}"
                                         @click="assemblyIndex(blueBtn)">
                                </div>
                                <div v-for="assembly in assemblys" :key="assembly.assemblyID">
                                    <img :src="assembly.assemblyUrl" class="assemblyImg"
                                         :style="{'top':assembly.top,'left':assembly.left}"
                                         @click="assemblyIndex(assembly)">
                                </div>
                                <img :src="feedwater.feedwaterUrl"
                                     :key="feedwater.feedwaterID"
                                     class="feedwater"
                                     :style="{'top':feedwater.top,'left':feedwater.left}"
                                     @click="assemblyIndex(feedwater)">
                            </div>
                        </el-col>
                        <el-dialog :visible.sync="displaytiaojie" center width="20%">
                            <div slot="title" class="dialogTitles">
                                <b>{{tiaojieTitle}}</b>
                            </div>
                            <!--=====================壁温================-->
                            <div style="text-align: center;" v-if="displaywell">
                                <input type="button" value="-" class="decrease" @click="changNumber(11)">
                                <div id="WallTemperaturebg">
                                    <div id="WallTemperatureNumber" :style="{'width':wallWidth,}">
                                        <b class="WallTemperaturefont">{{QAf}}</b>
                                    </div>
                                </div>
                                <input type="button" value="+" class="rease" @click="changNumber(12)">
                            </div>
                            <!--=============给水====================-->
                            <div v-if="displayFeedwater">
                                <div style="text-align: center;">
                                    <input type="button" value="-" class="decrease" @click="changNumber(9)">
                                    <div id="Feedwaterbg">
                                        <div id="FeedwaterNumbe" :style="{'width':Feedwaters,}">
                                            <b class="FeedwaterNumbefont">{{f}}</b>
                                        </div>
                                    </div>
                                    <input type="button" value="+" class="rease" @click="changNumber(10)">
                                </div>
                            </div>
                            <div slot="footer">
                                <el-button class="confirms" @click="displaytiaojie=false">确定</el-button>
                            </div>
                        </el-dialog>
                        <el-dialog :visible.sync="dialogAssembly" >
                            <div slot="title" class="dialogTitles">
                                <b>{{AssemblyTitle}}</b>
                            </div>
                            <!--=======================按钮+汽包部件模态框内容=============================-->
                            <div v-if="btnDiv">
                                <el-checkbox v-for="btnCheckbox in btnCheckboxs"
                                             :label="btnCheckbox.btnname"
                                             :key="btnCheckbox.btnCheckboxID"
                                             v-if="btnCheckbox.display"
                                             v-model="btnCheckbox.checked">{{btnCheckbox.btnname}}</el-checkbox>
                                <b v-if="evenyoneTitleshow">{{evenyoneTitle}}</b>
                                <el-radio-group v-model="continuousBlowdown" v-if="Blowdownshow">
                                    <el-radio :label="true">开启</el-radio>
                                    <el-radio :label="false">关闭</el-radio>
                                </el-radio-group>
                                <div v-if="inputtext">
                                    <el-input
                                            v-for="inputs in inputTextarea"
                                            type="textarea"
                                            :rows="4"
                                            :placeholder="inputs.placeholder"
                                            :key="inputs.textareaID"
                                            v-model="inputs.inputText"
                                            id="inputs.textareaID"
                                            v-if="inputs.textareashow">
                                    </el-input>
                                </div>
                            </div>
                            <!--=======================图案部件模态框内容==============================-->
                            <div v-for="radioValue in assemblys" v-if="picDiv">
                                <div v-if="radioValue.display">
                                    <b>{{airCondition}}</b>
                                    <el-radio-group v-model="radioValue.airValve"
                                                    :key="radioValue.assemblyID" >
                                        <el-radio :label="true">开启</el-radio>
                                        <el-radio :label="false">关闭</el-radio>
                                    </el-radio-group>
                                </div>
                                <div v-if="radioValue.display">
                                    <b>{{waterCondition}}</b>
                                    <el-radio-group v-model="radioValue.trap"
                                                    :key="radioValue.assemblyID">
                                        <el-radio :label="true">开启</el-radio>
                                        <el-radio :label="false">关闭</el-radio>
                                    </el-radio-group>
                                </div>

                            </div>
                            <div slot="footer">
                                <el-button class="confirms" @click="assemblyConfirms()">确定</el-button>
                            </div>
                        </el-dialog>
                    </el-row>
                </div>
            </el-row>
            <!-- 系统切换按钮 -->
            <el-row>
                <div class="systemBtn">
                    <div class="divBtn" @click="changeSys('burn')">
                        <div id="burn"
                             class="btn"
                             :class="{'ons':burngreens}"></div>
                        <span>燃烧调节系统</span>
                    </div>
                    <div class="divBtn" @click="changeSys('water')">
                        <div id="water"
                             class="btn"
                             :class="{'ons':watergreens}"></div>
                        <span>锅炉汽水系统</span>
                    </div>
                    <div class="divBtn" @click="changeSys('hot')">
                        <div id="hot"
                             class="btn"
                             :class="{'ons':hotgreens}"></div>
                        <span>燃烧系统</span>
                    </div>
                </div>
            </el-row>
            <el-row>
                <div style="float: right;margin: 20px">
                    <span>{{score}}</span>
                    <el-button class="confirms" @click="countsFF()">提交</el-button>
                </div>
            </el-row>
        </el-row>
    </div>
    <script src="js/vue/vue.js"></script>
    <script src="js/vue/vue-resource.js"></script>
    <script src="js/element-ui/index.js"></script>
    <script src="js/cgz6-service.js"></script>
    <script src="js/jquery.min.js"></script>
</body>
</html>